doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Hello Node

    // CSS
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,700')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/media-queries.css')

  body
    // Top menu
    nav.navbar.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#top-navbar-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') NodeLogin
        // Collect the nav links, forms, and other content for toggling
        #top-navbar-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            if user
             li(class=(title == 'Members' ? 'active' : ''))
               a(href='/') Members
            if !user
             li(class=(title == 'Register' ? 'active' : ''))
               a(href='/users/register') Register
             li(class=(title == 'Login' ? 'active' : ''))
               a(href='/users/login') Login
          ul.nav.navbar-nav.navbar-right
            li
              a.scroll-link(href='#features') App Features
            li
              a.scroll-link(href='#how-it-works') See how it works
            if user
              li
               a(href='/users/logout') Logout

    //Express Messages Container
    .container
     != messages()
     block content

    // Features
    .features-container.section-container
      .container
        .row
          .col-sm-12.features.section-description.wow.fadeIn
            h2 Why You Should Join?
            .divider-1.wow.fadeInUp . . . . . . . . . .
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              | Ut wisi enim ad minim veniam, quis nostrud tempor incididunt ut labore et.
        .row
          .col-sm-4.features-box.wow.fadeInUp
            .features-box-icon
              i.fa.fa-thumbs-up
            h3 Easy To Use
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .col-sm-4.features-box.wow.fadeInDown
            .features-box-icon
              i.fa.fa-cog
            h3 Responsive Design
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .col-sm-4.features-box.wow.fadeInUp
            .features-box-icon
              i.fa.fa-commenting
            h3 24/7 Support
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .row
          .col-sm-12.section-bottom-button.wow.fadeInUp
            a.btn.btn-link-1.scroll-link(href='register')
              | Sign Up Now
              i.fa.fa-angle-right
    // How it works
    .how-it-works-container.section-container.section-container-gray-bg
      .container
        .row
          .col-sm-5.how-it-works-box.wow.fadeInLeft
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src='https://player.vimeo.com/video/115014610?title=0&byline=0&portrait=0&badge=0&color=e36da1', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
          .col-sm-6.col-sm-offset-1.how-it-works-box.how-it-works-box-right.wow.fadeInUp
            h3 See how our app works!
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            p
              | Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
              | Ut wisi enim ad minim veniam, quis nostrud.
            p
              a.learn-more.scroll-link(href='register') Sign Up Now
    // Footer
    footer
      .container
        .row
          .col-sm-4.footer-about.wow.fadeInUp
            h3 About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              | Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper.
            p
              a.scroll-link(href='#about-us') Learn More
          .col-sm-4.footer-contact-info.wow.fadeInDown
            h3 Contact Info
            p
              i.fa.fa-map-marker
              |  Via Rossini 10, 10136 Turin Italy
            p
              i.fa.fa-phone
              |  Phone: (0039) 333 12 68 347
            p
              i.fa.fa-envelope
              |  Email:
              a(href='mailto:contact.azmind@gmail.com') contact.azmind@gmail.com
            p
              i.fa.fa-skype
              |  Skype: regy_online
          .col-sm-4.footer-social.wow.fadeInUp
            h3 We're Social
            p
              a(href='#')
                i.fa.fa-facebook
              a(href='#')
                i.fa.fa-twitter
              a(href='#')
                i.fa.fa-google-plus
              a(href='#')
                i.fa.fa-instagram
              a(href='#')
                i.fa.fa-pinterest
        .row
          .col-sm-6.footer-copyright
            | © Regy Bootstrap Registration Template by
            a(href='http://azmind.com/free-bootstrap-themes-templates/') AZMIND
          .col-sm-6.footer-menu
            ul
              li
                a.scroll-link(href='#top-content') Top
              li
                a.scroll-link(href='#features') Features
              li
                a.scroll-link(href='#how-it-works') How it works
              li
                a(href='#') Terms
              li
                a(href='#') Privacy
    // Javascript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='javascripts/bootstrap.js')
    script(src='javascripts/jquery.backstretch.min.js')
    script(src='javascripts/wow.min.js')
    script(src='javascripts/retina-1.1.0.min.js')
    script(src='javascripts/scripts.js')
